
<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <!-- <div class="example-rate-limit-reached"  *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>  || isRateLimitReached-->
    </div>
    <div fxLayout="row wrap">
        <div fxFlex="100">
          <mat-card>
            <mat-card-content>
              <div fxLayout="row wrap" class="align-items-center">
                <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>
                <div fxFlex.gt-md="75" class="text-right">
                  <button mat-raised-button  color="primary" (click)="openDialog('Add',{})">Add CriticalSystem</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    <div fxLayout="row wrap">
      <div fxFlex="100">
        <mat-card>
          <mat-card-content>
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="table employee-list no-wrap"
              matSort  matSortDirection="desc">
          
                <ng-container matColumnDef="LocationId">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> LocationId </th>
                    <td mat-cell *matCellDef="let csd"> {{csd.LocationId}} </td>
                  </ng-container>

                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header>Name </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.Name}} </td>
                </ng-container>
  
  
                <ng-container matColumnDef="SystemDescription">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SystemDescription </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SystemDescription}} </td>
                </ng-container>
                
                <ng-container matColumnDef="CriticalSystemId">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> CriticalSystemId </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.CriticalSystemId}} </td>
                </ng-container>
  
                <ng-container matColumnDef="ApprovalStatus">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> ApprovalStatus </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.ApprovalStatus}} </td>
                </ng-container>
  
                 <ng-container matColumnDef="CategoryId">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> CategoryId </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.CategoryId}} </td>
                </ng-container>
                
                <ng-container matColumnDef="IdentificationApprovalStatus">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> IdentificationApprovalStatus </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.IdentificationApprovalStatus}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Structure">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> Structure </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.Structure}} </td>
                </ng-container>
                
                <ng-container matColumnDef="SSEPDetailedDescription">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header>SSEPDetailedDescription </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPDetailedDescription}} </td>
                </ng-container>
       
                <ng-container matColumnDef="Security">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> Security </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.Security}} </td>
                </ng-container>
                
                <ng-container matColumnDef="SafetyOrImportantToSafety">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SafetyOrImportantToSafety </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SafetyOrImportantToSafety}} </td>
                </ng-container>
                
                <ng-container matColumnDef="EmergencyPlan">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> EmergencyPlan </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.EmergencyPlan}} </td>
                </ng-container>
                
                <ng-container matColumnDef="SafetyRelated">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SafetyRelated </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SafetyRelated}} </td>
                </ng-container>
                
                <ng-container matColumnDef="ImportantToSafety">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> ImportantToSafety </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.ImportantToSafety}} </td>
                </ng-container>
                
                <ng-container matColumnDef="ExtDescription">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> ExtDescription </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.ExtDescription}} </td>
                </ng-container>
                
                <ng-container matColumnDef="SSEPJustification">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPJustification </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPJustification}} </td>
                </ng-container>
                
                <ng-container matColumnDef="SSEPDecisionComment">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPDecisionComment </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPDecisionComment}} </td>
                </ng-container>
    
                <ng-container matColumnDef="SSEPDecisionDate">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPDecisionDate </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPDecisionDate}} </td>
                </ng-container>
  
                <ng-container matColumnDef="SSEPDecisionBy">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPDecisionBy </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPDecisionBy}} </td>
                </ng-container>
  
                <ng-container matColumnDef="SSEPReviewerComment">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPReviewerComment </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPReviewerComment}} </td>
                </ng-container>
  ,
                <ng-container matColumnDef="SSEPReviewDate">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPReviewDate </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPReviewDate}} </td>
                </ng-container>
                
                <ng-container matColumnDef="SSEPReviewedBy">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPReviewedBy </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPReviewedBy}} </td>
                </ng-container>
                
                <ng-container matColumnDef="SSEPApproverComment">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPApproverComment </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPApproverComment}} </td>
                </ng-container>
                
                <ng-container matColumnDef="SSEPApprovedDate">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPApprovedDate </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPApprovedDate}} </td>
                </ng-container>
                
                <ng-container matColumnDef="SSEPApprovedBy">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> SSEPApprovedBy </th>
                  <td mat-cell *matCellDef="let csd"> {{csd.SSEPApprovedBy}} </td>
                </ng-container>
                      
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let csd" class="action-link">
                    <a (click)="openDialog('Update',csd)" class="marR10 m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                    <span><a (click)="openDialog('Delete',csd)" class="m-r-10 cursor-pointer">
                      <i class="fa fa-trash text-danger"></i>
                    </a></span>
                    
                  </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  