@import './assets/styles/rtl';
@import './assets/styles/pages';
@import './assets/styles/spinner';
@import './assets/styles/headers';
@import './assets/styles/responsive';
@import './assets/styles/app';
.cursor-pointer {
    cursor: pointer;
}
.mat-card {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
    margin: 15px;
    padding: 0px !important;
    border-radius: 4px;
}