.activeRow{
    background-color: #f7f7f7;
    cursor: pointer;
}
tr.example-element-row:hover {
    background: whitesmoke;
    cursor: pointer;

  }
  .mat-typography .mat-form-field-infix {
    border-top: 0.14375em solid transparent !important;
}